*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  width: 100%;
}
header {
  height: 90px;
  display: flex;
  background-color: #373535;
  justify-content: space-around;
}
header .nav_research {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav_research button {
  margin: 0 15px;
}
main {
  background-color: red;
}
